body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.commodity{
    width:900px;
    margin:0 auto;
    border:1px solid black;
    text-align:center;
}
.commodity .category{
  width: 80%;
  margin:0 auto;
  border: 1px solid black;
}
.commodity .category .categoryItem{
  margin-right: 20px;
  word-wrap:break-word;
  display: inline-block;

}
.commodityList{
  display: flex;
  flex-wrap:wrap;
}
.commodityListItem{
  width: 200px;
  border: 1px solid black;
  word-break:break-all;
}
